<%- model_class = Travel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:city_id) %>:</strong></dt>
  <dd><%= @travel.city_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:initialDate) %>:</strong></dt>
  <dd><%= @travel.initialDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finalDate) %>:</strong></dt>
  <dd><%= @travel.finalDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @travel.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_id) %>:</strong></dt>
  <dd><%= @travel.vehicle_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @travel.user %></dd>
</dl>
<div align="center">
	<table>
  <tr>
    <td><%= link_to raw("<i class=\"glyphicon glyphicon-cutlery\"> Refeições </i>"),  new_travel_meal_path(@travel.id),  class: "btn btn-default"  %></td>
    <td><%= link_to raw("<i class=\"glyphicon glyphicon-home\"> Hospedagem </i>"),  new_travel_lodging_path(@travel.id),  class: "btn btn-default"  %></td>
  </tr>
  <tr>
    <td><%= link_to raw("<i class=\"glyphicon glyphicon-fire\"> Combustivel </i>"),  new_travel_fuel_path(@travel.id),  class: "btn btn-default"  %></td>
    <td><%= link_to raw("<i class=\"glyphicon glyphicon-road\"> Pedagios </i>"),  new_travel_toll_booth_path(@travel.id),  class: "btn btn-default"  %></td>
  </tr>
</table>
	
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              travels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_travel_path(@travel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              travel_path(@travel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
